<div class="flex flex-col md:flex-row gap-4 md:justify-between">
  <section class="flex flex-col gap-4 flex-1">
    <h2 class="text-2xl font-semibold pb-4 border-b-2 border-gray-200">TODO:</h2>
    <div class="flex flex-col gap-4">
      @for (task of pendingTasks(); track task.id) {
        <app-task-card [task]="task"></app-task-card>
      }
    </div>
  </section>

  <section class="flex flex-col gap-4 flex-1">
    <h2 class="text-2xl font-semibold pb-4 border-b-2 border-gray-200">IN PROGRESS:</h2>
    <div class="flex flex-col gap-4">
      @for (task of inProgressTasks(); track task.id) {
        <app-task-card [task]="task"></app-task-card>
      }
    </div>
  </section>

  <section class="flex flex-col gap-4 flex-1">
    <h2 class="text-2xl font-semibold pb-4 border-b-2 border-gray-200">DONE:</h2>
    <div class="flex flex-col gap-4">
      @for (task of completedTasks(); track task.id) {
        <app-task-card [task]="task"></app-task-card>
      }
    </div>
  </section>
</div>

<button matButton="filled" color="primary" class="mt-15" (click)="open()">Add a card</button>
Ø
