@if (showInput()) {
  <mat-form-field>
    <mat-label>Task title</mat-label>
    <input
      #input
      matInput
      [formControl]="titleFormControl"
      type="text"
      placeholder="Enter task title"
    />
  </mat-form-field>
  <div class="flex gap-1">
    <button
      matButton="filled"
      color="primary"
      [disabled]="titleFormControl.invalid"
      (click)="addCard()"
    >
      Confirm
    </button>
    <button matButton="outlined" color="secondary" (click)="toggleInput()">Cancel</button>
  </div>
} @else {
  <button matButton="filled" color="primary" (click)="toggleInput()">Add a card</button>
}
